/* These are styles for a forgot password component of the / page when the user is not signed */
/* in. */

.ForgotPasswordContainer {
    font-size: 1vw;
    margin-bottom: 1.5vw;
}

.forgotPasswordSpan {
    cursor: pointer;
}

.forgotPasswordSpan:hover {
    text-decoration: underline;
}

.forgotPasswordMessage {
    margin-top: .25vw;
}
