/* These are styles for the CategoryTotalBarChart component. */

.chartTooltip {
    padding: .6vw .8vw;
}

.chartTooltipLabel,
.tooltipValue,
.totalLabel,
.chartEmpty {
    font-size: 1vw;
}

.chartCard {
    padding: 1vw;
}

.header {
    justify-content: space-between;
    margin-bottom: 1vw;
}

.header,
.totalContainer {
    display: flex;
}

.title {
    margin: 0;
}

.title,
.totalValue {
    font-size: 1.5vw;
}

.totalContainer {
    flex-direction: column;
    align-items: flex-end;
}

.totalValue {
    font-weight: bold;
}

.chartContainer {
    height: 30vw;
}
