/* These are fixed styles for the Spinner component. */

@keyframes spinner-rotate {
    to {
        transform: rotate(1turn);
    }
}

.Spinner {
    display: inline-block;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border-style: solid;
    border-color: currentColor;
    border-right-color: transparent;
    animation: spinner-rotate .85s linear infinite;
}
