/* These are fixed styles for the Spinner component. */

@keyframes l3 {
    to {
        transform: rotate(1turn);
    }
}

.Spinner {
    aspect-ratio: 1;
    border-radius: 50%;
    --_spinner:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_spinner);
    mask: var(--_spinner);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
    background-color: var(--element-background-color);
}
