/* These are styles for the Expenses component. */

.main {
    padding-bottom: 5vw;
    font-size: 1vw;
}

.addExpenseContainer {
    margin: 1vw 0 1vw 1vw;
}

.expensesSearchForm {
    margin: 0 0 1vw 1vw;
}

.sentinelRefDiv {
    height: 1vw;
}

.loadingMoreExpensesSpinner {
    width: 1.5vw;
    border-width: .15vw;
    color: var(--element-background-color);
    margin-left: auto;
    margin-right: auto;
}
