/* These are styles for the Navbar component. */

.Navbar {
    background-color: var(--element-background-color);
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.ul {
    display: flex;
    gap: 1vw;
    padding-left: 1vw;
}

.navLink {
    font-size: 1.2vw;
    color: var(--element-color);
}
