/* These are styles for the ExpensesTable component. */

.ExpensesTable {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 1vw;
}

.theadTr {
    position: sticky;
    top: var(--navbar-height);
    background-color: var(--page-background-color);
}

.th {
    text-align: left;
}

.th,
.td {
    height: 2vw;
    border-bottom: .1vw solid lightgrey;
}

.thSortable:hover {
    cursor: pointer;
    text-decoration: underline;
}

.dateCol {
    width: 7%;
}

.descriptionCol {
    width: 28%;
}

.amountCol {
    width: 7%;
}

.categoriesColNarrower {
    width: 48%;
}

.categoriesColWider {
    width: 58%;
}

.buttonCol {
    width: 5%;
    text-align: center;
}

.tbodyTr:hover {
    background-color: white;
}

.td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.editLink {
    background-color: var(--element-background-color);
    border-radius: .5vw;
    transition: background-color .3s;
}

.editLink:hover {
    background-color: var(--element-background-color-darker-shade);
    text-decoration: none;
}

.deleteButton {
    background-color: crimson;
}

.deleteButton:hover {
    background-color: #b01030;
}

.editLink,
.deleteButton {
    color: var(--element-color);
    font-size: 1vw;
    padding: .25vw .6vw;
}
