/* These are styles for the ExpensesTable component. */

.ExpensesTable {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 1vw;
}

.th {
    text-align: left;
    position: sticky;
    top: var(--navbar-height);
    background-color: var(--page-background-color);
}

.tbodyTr:hover {
    background-color: white;
}

.td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.th,
.td {
    height: 2vw;
    border-bottom: .1vw solid lightgrey;
}

.th:nth-child(1),
.td:nth-child(1) {
    width: 7%;
}

.th:nth-child(2),
.td:nth-child(2) {
    width: 33%;
}

.th:nth-child(3),
.td:nth-child(3) {
    width: 7%;
}

.th:nth-child(4),
.td:nth-child(4) {
    width: 53%;
}
