/* These are styles for the /signup page. */

.SignUp {
    text-align: center;
}

h1 {
    margin-top: 50px;
    margin-bottom: 150px;
}

.expensesHeader {
    width: 650px;
    font-size: 125px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--element-background-color);
    color: var(--element-color);
}

h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

form input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 350px;
    padding: 9px;
    font-size: 18px;
}

.signUpButton {
    background-color: var(--element-background-color);
    color: var(--element-color);
    font-size: 18px;
    padding: 8px 18px;
    margin-bottom: 10px;
}

.signUpButton:hover {
    background-color: var(--element-background-color-darker-shade);
}

.signUpSpinner {
    width: 25px;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    background: var(--element-background-color);
}

.submitMessage {
    font-size: 18px;
}

@media (max-width: 1500px) {
    h1 {
        margin-top: 37.5px;
        margin-bottom: 112.5px;
    }

    .expensesHeader {
        width: 487.5px;
        font-size: 93.75px;
    }

    h2 {
        font-size: 26.25px;
        margin-bottom: 7.5px;
    }

    form input {
        margin-bottom: 3.75px;
        width: 262.5px;
        padding: 6.75px;
        font-size: 13.5px;
    }

    .signUpButton {
        font-size: 13.5px;
        padding: 6px 13.5px;
        margin-bottom: 7.5px;
    }

    .signUpSpinner {
        width: 18.75px;
        padding: 3px;
    }

    .submitMessage {
        font-size: 13.5px;
    }
}

@media (max-width: 1000px) {
    h1 {
        margin-top: 25px;
        margin-bottom: 75px;
    }

    .expensesHeader {
        width: 325px;
        font-size: 62.5px;
    }

    h2 {
        font-size: 17.5px;
        margin-bottom: 5px;
    }

    form input {
        margin-bottom: 2.5px;
        width: 175px;
        padding: 4.5px;
        font-size: 9px;
    }

    .signUpButton {
        font-size: 9px;
        padding: 4px 9px;
        margin-bottom: 5px;
    }

    .signUpSpinner {
        width: 12.5px;
        padding: 2px;
    }

    .submitMessage {
        font-size: 9px;
    }
}
