/* These are styles for the /signup page. */

.SignUp {
    text-align: center;
}

.expensesHeader {
    margin-top: 5vw;
    margin-bottom: 7.5vw;
    width: 35vw;
    font-size: 7vw;
    margin-left: auto;
    margin-right: auto;
}
