/* These are styles that are applied everywhere on the website. */

:root {
    --page-background-color: whitesmoke;
    --element-background-color: steelblue;
    --element-background-color-darker-shade: #386890;
    --element-color: white;
    --link-color: steelblue;
    --font-family: 'Roboto', serif;
    --navbar-height: 3vw;
    background-color: var(--page-background-color);
    font-family: var(--font-family);
}

body {
    margin: 0;
}

input[type='email'],
input[type='number'],
input[type='date'],
input[type='text'] {
    font-family: var(--font-family);
}

input[type='email'],
input[type='number'],
input[type='date'],
input[type='text'],
input[type='password'] {
    border: .05vw solid #cccccc;
    border-radius: .5vw;
}

button {
    font-family: var(--font-family);
    border: none;
    border-radius: .5vw;
    cursor: pointer;
    transition: background-color .3s;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

a:active {
    outline: solid;
}

ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

main {
    padding-top: var(--navbar-height);
}
