/* These are styles for the ForgotPasswordContainer component. */

.ForgotPasswordContainer {
    font-size: 1vw;
    margin-bottom: 1.5vw;
}

.forgotPasswordSpan {
    cursor: pointer;
}

.forgotPasswordSpan:hover {
    text-decoration: underline;
}

.forgotPasswordMessage {
    margin-top: .25vw;
}
