/* These are styles for the ImportPreview component. */

.h2 {
    font-size: 2vw;
}

.buttonContainer {
    margin-top: 1vw;
}

.submitButton {
    background-color: var(--element-background-color);
    color: var(--element-color);
    font-size: 1.5vw;
    padding: .5vw 1vw;
}

.submitButton:hover {
    background-color: var(--element-background-color-darker-shade);
}

.spinner {
    width: 1.25vw;
    padding: .2vw;
    margin-top: 1.6vw;
    margin-left: 2.4vw;
}
