/* These are styles for the UploadFileForm component. */

.UploadFileForm {
    margin-left: 1vw;
}

.h1 {
    font-size: 3vw;
}

.form {
    margin-bottom: .5vw;
}

.fileInputContainer {
    margin-bottom: 1vw;
}

.fileInputLabel {
    font-size: 1.5vw;
    cursor: pointer;
    margin-right: 1vw;
}

.fileInputLabel:hover {
    text-decoration: underline;
}

.fileInput {
    display: none;
}

.fileName {
    font-size: 1.5vw;
}

.submitButton {
    background-color: var(--element-background-color);
    color: var(--element-color);
    font-size: 1.5vw;
    padding: .5vw 1vw;
}

.submitButton:hover {
    background-color: var(--element-background-color-darker-shade);
}

.spinner {
    width: 1.25vw;
    padding: .2vw;
    margin-top: 1.6vw;
    margin-left: 2.4vw;
}

.submitMessage {
    font-size: 1vw;
}
